[Unit]
Description=gunicorn daemon
After=network.target



[Service]
User=root
Group=www-data
WorkingDirectory=/home/webmaster/fireban
ExecStart=/usr/local/bin/gunicorn --workers=5 --max-requests=1000 --bind=unix:/home/webmaster/fireban/run/gunicorn.sock fireban.wsgi:application
#ExecStart=/home/ubuntu/[project_directory]/venv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/[project_directory]/gunicorn.sock config.wsgi:application

[Install]
WantedBy=multi-user.target
